@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.my-custom-button {
    background-color: #FFE7CB;
}

.parallax{
    background-image: url("../main.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }